<div style="text-align: center; color: blue; font-size: 36px; font-weight: bold;">
   Differnt way to create DataFrame
</div>

<div style=" color: red; font-size: 30px; font-weight: bold;">
   1)using csv<br>
   2)using Excel<br>
    3)from python dictonary<br>
    4)from list of tuple<br>
    5)from list of dictonary<br>
</div>

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('weather_data.csv')
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [16]:
df=pd.read_excel('weather_data.xlsx','Sheet1')
df

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           35          7  Sunny
2 2017-01-03           28          2   Snow

In [19]:
weather_data={
    'day':['1/1/2025','2/1/2025','3/1/2025'],
    'temp':[20,45,67],
    'windspeed':[32,56,90],
    'event':['Rain','sunny','cloud']
}
df=pd.DataFrame(weather_data)
df

        day  temp  windspeed  event
0  1/1/2025    20         32   Rain
1  2/1/2025    45         56  sunny
2  3/1/2025    67         90  cloud

In [20]:
weather_data={
    ('1/1/2025',20,32,'Rain'),
    ('2/1/2025',45,67,'sunny'),
    ('3/1/2025',56,90,'cloud'),
    
}
df=pd.DataFrame(weather_data,columns=['day','temp','windspeed','event'])
df

        day  temp  windspeed  event
0  1/1/2025    20         32   Rain
1  2/1/2025    45         67  sunny
2  3/1/2025    56         90  cloud

In [23]:
weather_data=[
    {'day':'1/1/2025','temp':20,'windspeed':56,'event':'Rain'},
    {'day':'2/1/2025','temp':67,'windspeed':43,'event':'sunny'},
    {'day':'3/1/2025','temp':80,'windspeed':23,'event':'cloud'}
    ]
     
df=pd.DataFrame(weather_data)
df

        day  temp  windspeed  event
0  1/1/2025    20         56   Rain
1  2/1/2025    67         43  sunny
2  3/1/2025    80         23  cloud